/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.newtab-undo-button {
	color: rgb(20,79,174);
}

#options-previous-row-tile {
	margin-top: 0;
}

#options-bgcolor-display {
	font-size: 0;
	padding: 6px;
	margin: 3px 3px 2px;
}
