/*
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this file,
You can obtain one at http://mozilla.org/MPL/2.0/.
*/
#newtab-scrollbox {
  -moz-box-orient: vertical;
}
#newtab-scrollbox[page-disabled] {
  background-image: none !important;
}
:root[launcher="left"] #newtab-scrollbox,
:root[launcher="right"] #newtab-scrollbox {
  -moz-box-orient: horizontal;
}
:root.background #newtab-scrollbox {
  background-size: cover;
  background-position: 50% 50%;
}
#newtab-recent-outer {
  white-space: nowrap;
  height: 30px;
}
#newtab-recent > span {
  display: inline-block;
  vertical-align: middle;
  -moz-margin-end: 4px;
}
.recent {
  padding: 2px 4px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  line-height: 20px;
  border-radius: 4px;
  -moz-margin-end: 4px;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
  text-decoration: none;
  color: rgb(31, 54, 76);
  text-overflow: ellipsis;
  max-width: 200px;
  overflow-x: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.recent:hover {
  background-color: highlight;
  color: highlighttext;
}
#newtab-undo-container {
  margin-left: 1em;
  transition: opacity 200ms, display 0s 200ms;
}
#newtab-undo-container[undo-disabled] {
  display: none;
}
.newtab-row {
  margin-bottom: 5px;
}
:root[spacing="medium"] .newtab-row:not(:last-child) {
  margin-bottom: 10px;
}
:root[spacing="large"] .newtab-row:not(:last-child) {
  margin-bottom: 20px;
}
.newtab-cell {
  -moz-margin-end: 5px;
}
:root[spacing="medium"] .newtab-cell:not(:last-child) {
  -moz-margin-end: 10px;
}
:root[spacing="large"] .newtab-cell:not(:last-child) {
  -moz-margin-end: 20px;
}
.favicon {
  margin-top: -2px;
  -moz-margin-end: 3px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.newtab-thumbnail {
  margin-bottom: 24px;
}
.newtab-title {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(8, 22, 37, 0.12);
}
:root.containThumbs .newtab-thumbnail {
  background-size: contain;
  background-position: 50% 50%;
}
:root.overlapTitle .newtab-thumbnail {
  margin-bottom: 0;
}
:root.overlapTitle .newtab-title {
  border-top-width: 0;
}
:root.hideButtons .newtab-site > input {
  display: none;
}
:root.hideFavicons .favicon {
  display: none;
}
#newtab-margin-top,
#newtab-margin-bottom,
.newtab-side-margin {
  min-height: 0;
  max-height: none;
  min-width: 0;
  max-width: none;
  -moz-box-flex: 0;
  background-color: transparent !important;
}
#newtab-margin-top,
#newtab-margin-bottom,
:root[launcher="top"] #newtab-margin-top.medium {
  height: 30px;
}
#newtab-margin-top.medium,
#newtab-margin-bottom.medium {
  height: 60px;
}
#newtab-margin-top.large,
#newtab-margin-bottom.large {
  height: 120px;
}
:root[launcher="bottom"] #newtab-margin-bottom {
  height: 10px;
}
:root[launcher="bottom"] #newtab-margin-bottom.medium {
  height: 20px;
}
:root[launcher="top"] #newtab-margin-top.large,
:root[launcher="bottom"] #newtab-margin-bottom.large {
  height: 40px;
}
.newtab-side-margin {
  width: 30px;
}
.newtab-side-margin.medium {
  width: 60px;
}
.newtab-side-margin.large {
  width: 120px;
}
:root[launcher="right"] .newtab-side-margin:last-child,
:root[launcher="left"] .newtab-side-margin:first-child {
  width: 10px;
}
:root[launcher="right"] .newtab-side-margin:last-child.medium,
:root[launcher="left"] .newtab-side-margin:first-child.medium {
  width: 20px;
}
:root[launcher="right"] .newtab-side-margin:last-child.large,
:root[launcher="left"] .newtab-side-margin:first-child.large {
  width: 40px;
}
#launcher {
  display: none;
}
:root[launcher] #launcher {
  display: -moz-box;
  border-width: 0;
  border-style: solid;
  border-color: hsla(0, 0%, 0%, .03);
  -moz-box-align: center;
  -moz-box-pack: center;
  background-color: hsla(0, 0%, 0%, .03);
  text-align: center;
}
:root[launcher="top"] #launcher,
:root[launcher="bottom"] #launcher {
  -moz-box-orient: horizontal;
  width: 100%;
}
:root[launcher="right"] #launcher,
:root[launcher="left"] #launcher {
  -moz-box-orient: vertical;
  width: 90px;
}
:root[launcher="top"] #launcher {
  border-bottom-width: 1px;
  box-shadow: 0 -1px 2px hsla(0, 0%, 0%, .02) inset,
              0 1px 0 hsla(0, 0%, 100%, .25);
  -moz-box-ordinal-group: 0;
}
:root[launcher="right"] #launcher {
  border-left-width: 1px;
  box-shadow: 1px 0 2px hsla(0, 0%, 0%, .02) inset,
              -1px 0 0 hsla(0, 0%, 100%, .25);
}
:root[launcher="bottom"] #launcher {
  border-top-width: 1px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, .02) inset,
              0 -1px 0 hsla(0, 0%, 100%, .25);
}
:root[launcher="left"] #launcher {
  border-right-width: 1px;
  box-shadow: -1px 0 2px hsla(0, 0%, 0%, .02) inset,
              1px 0 0 hsla(0, 0%, 100%, .25);
  -moz-box-ordinal-group: 0;
}
.launchButton {
  display: -moz-box;
  -moz-box-orient: vertical;
  margin: 1px 1px;
  padding: 14px 6px;
  min-width: 88px;
  max-width: 176px;
  max-height: 85px;
  vertical-align: top;
  white-space: normal;
  background: transparent padding-box;
  border: 1px solid transparent;
  border-radius: 2.5px;
  color: #525c66;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
}
.launchButton:hover {
  background-color: hsla(211, 79%, 6%, .03);
  border-color: hsla(210, 54%, 20%, .15) hsla(210, 54%, 20%, .17) hsla(210, 54%, 20%, .2);
}
.launchButton:hover:active {
  background-image: linear-gradient(hsla(211, 79%, 6%, .02), hsla(211, 79%, 6%, .05));
  border-color: hsla(210, 54%, 20%, .2) hsla(210, 54%, 20%, .23) hsla(210, 54%, 20%, .25);
  box-shadow: 0 1px 1px hsla(211, 79%, 6%, .05) inset,
              0 0 1px hsla(211, 79%, 6%, .1) inset;
  transition-duration: 0ms;
}
.launchButton::before {
  display: block;
  height: 32px;
  margin-bottom: 6px;
  line-height: 0;
}
:root.background #launcher {
  background-color: hsla(0, 0%, 100%, .3);
  box-shadow: none;
}
:root.background #launcher.dark {
  background-color: hsla(0, 0%, 0%, .3)
}
:root.background .launchButton:hover {
  background-color: hsla(211, 80%, 100%, .6);
  border-color: hsla(210, 54%, 20%, .3) hsla(210, 54%, 20%, .3) hsla(210, 54%, 20%, .4);
}
:root.background #launcher.dark .launchButton {
  color: #fff;
  text-shadow: 0 0 2px #000;
}
:root.background #launcher.dark .launchButton:hover {
  background-color: hsla(0, 0%, 0%, .3);
  border-color: hsla(0, 0%, 100%, .3);
}
#launcher:not([session]) > #restorePreviousSession {
  display: none;
}
#downloads::before {
  content: url("chrome://browser/content/abouthome/downloads.png");
}
#bookmarks::before {
  content: url("chrome://browser/content/abouthome/bookmarks.png");
}
#history::before {
  content: url("chrome://browser/content/abouthome/history.png");
}
#addons::before {
  content: url("chrome://browser/content/abouthome/addons.png");
}
#sync::before {
  content: url("chrome://browser/content/abouthome/sync.png");
}
#settingsWin::before,
#settingsUnix::before {
  content: url("chrome://browser/content/abouthome/settings.png");
}
#restorePreviousSession::before {
  content: url("chrome://browser/content/abouthome/restore.png");
}
#restorePreviousSession:-moz-dir(rtl)::before {
  transform: scaleX(-1);
}
:root[launcher="left"] #restorePreviousSession,
:root[launcher="right"] #restorePreviousSession {
  height: calc(3.75em + 74px);
  max-height: none;
}
:root.background #launcher.dark #downloads::before {
  content: url("chrome://newtabtools/content/launcher/downloads.png");
}
:root.background #launcher.dark #bookmarks::before {
  content: url("chrome://newtabtools/content/launcher/bookmarks.png");
}
:root.background #launcher.dark #history::before {
  content: url("chrome://newtabtools/content/launcher/history.png");
}
:root.background #launcher.dark #addons::before {
  content: url("chrome://newtabtools/content/launcher/addons.png");
}
:root.background #launcher.dark #sync::before {
  content: url("chrome://newtabtools/content/launcher/sync.png");
}
:root.background #launcher.dark #settingsWin::before,
:root.background #launcher.dark #settingsUnix::before {
  content: url("chrome://newtabtools/content/launcher/settings.png");
}
:root.background #launcher.dark #restorePreviousSession::before {
  content: url("chrome://newtabtools/content/launcher/restore.png");
}
#options-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background: transparent url("chrome://mozapps/skin/extensions/utilities.png");
  z-index: 2
}
#options-toggle:-moz-locale-dir(rtl) {
  left: 10px;
  right: auto;
}
#newtab-scrollbox[page-disabled] #options-toggle,
#newtab-scrollbox[page-disabled] #launcher,
#newtab-scrollbox[page-disabled] #newtab-recent-outer,
#newtab-scrollbox:not([page-disabled]) #newtab-toggle {
  display: none;
}
#options-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#options {
  background-color: #f2f2f2;
  border: 1px solid #b2aeaa;
  position: fixed;
  top: 2em;
  left: 50%;
  margin-left: -moz-calc(-350px - 2em);
  padding: 1em;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
#options toolbarbutton {
  -moz-appearance: none;
  border: none;
}
#options groupbox {
  -moz-appearance: none;
  border: none;
}
#options caption {
  margin: 0;
  font-weight: bold;
}
#options button {
  min-width: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
}
#options-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  line-height: 0;
  z-index: 1;
}
#options-tile {
  -moz-margin-end: 2em;
}
#options-previous-tile {
  list-style-image: url("chrome://newtabtools/content/arrow.svg");
}
#options-thumbnail-wrap {
  margin: 0.5em 0;
}
#options-thumbnail {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  border: 1px #b2aeaa solid;
  opacity: 1;
  position: static;
  -moz-box-flex: 1;
}
#options-next-tile {
  list-style-image: url("chrome://newtabtools/content/arrow.svg");
  transform: scalex(-1);
}
#options-url {
  text-align: center;
}
setting {
  display: -moz-grid-line;
  -moz-box-align: baseline;
}
setting[type="bool"] {
  -moz-binding: url("chrome://mozapps/content/extensions/setting.xml#setting-bool");
}
setting[type="integer"] {
  -moz-binding: url("chrome://mozapps/content/extensions/setting.xml#setting-integer");
}
setting[type="control"] {
  -moz-binding: url("chrome://mozapps/content/extensions/setting.xml#setting-control");
}
setting[type="menulist"] {
  -moz-binding: url("chrome://newtabtools/content/setting.xml#setting-multi");
}
.preferences-alignment {
  min-height: 28px;
  -moz-box-align: center;
}
#options-donate-wrap {
  border: 1px #b2aeaa solid;
  background-color: #f9f9f9;
}
#options-donate-wrap > :first-child {
  margin: 0.5em 0.5em 0;
}
#options-donate-wrap > :last-child {
  margin: 0 0.5em 0.5em;
}
