/*
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this file,
You can obtain one at http://mozilla.org/MPL/2.0/.
*/
#newtab-scrollbox {
  -moz-box-orient: vertical;
}
:root[launcher="left"] #newtab-scrollbox,
:root[launcher="right"] #newtab-scrollbox {
  -moz-box-orient: horizontal;
}
:root.background #newtab-scrollbox {
  background-size: cover;
  background-position: 50% 50%;
}
#newtab-recent-outer {
  white-space: nowrap;
}
#newtab-recent > span {
  display: inline-block;
  vertical-align: middle;
  -moz-margin-end: 4px;
}
.recent {
  padding: 2px 4px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  line-height: 20px;
  border-radius: 4px;
  -moz-margin-end: 4px;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
  text-decoration: none;
  color: rgb(31, 54, 76);
  text-overflow: ellipsis;
  max-width: 200px;
  overflow-x: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.recent:hover {
  background-color: highlight;
  color: highlighttext;
}
#newtab-undo-container {
  margin-left: 1em;
  transition: opacity 200ms, display 0s 200ms;
}
#newtab-undo-container[undo-disabled] {
  display: none;
}
.newtab-row {
  margin-bottom: 5px;
}
:root[spacing="medium"] .newtab-row:not(:last-child) {
  margin-bottom: 20px;
}
:root[spacing="large"] .newtab-row:not(:last-child) {
  margin-bottom: 40px;
}
.newtab-cell {
  -moz-margin-end: 5px;
}
:root[spacing="medium"] .newtab-cell:not(:last-child) {
  -moz-margin-end: 20px;
}
:root[spacing="large"] .newtab-cell:not(:last-child) {
  -moz-margin-end: 40px;
}
.favicon {
  margin-top: -2px;
  -moz-margin-end: 3px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
:root.containThumbs .newtab-thumbnail {
  background-size: contain;
  background-position: 50% 50%;
}
:root.hideButtons .newtab-site > input {
  display: none;
}
:root.hideFavicons .favicon {
  display: none;
}
#newtab-margin-top,
#newtab-margin-bottom,
.newtab-side-margin {
  min-height: 0;
  max-height: none;
  min-width: 0;
  max-width: none;
  -moz-box-flex: 0;
}
#newtab-margin-top,
#newtab-margin-bottom {
  height: 30px;
}
#newtab-margin-top.medium,
#newtab-margin-bottom.medium {
  height: 60px;
}
#newtab-margin-top.large,
#newtab-margin-bottom.large {
  height: 120px;
}
:root[launcher="bottom"] #newtab-margin-bottom {
  height: 10px;
}
:root[launcher="bottom"] #newtab-margin-bottom.medium {
  height: 20px;
}
:root[launcher="top"] #newtab-margin-top.large,
:root[launcher="bottom"] #newtab-margin-bottom.large {
  height: 40px;
}
.newtab-side-margin {
  width: 30px;
}
.newtab-side-margin.medium {
  width: 60px;
}
.newtab-side-margin.large {
  width: 120px;
}
:root[launcher="right"] .newtab-side-margin:last-child,
:root[launcher="left"] .newtab-side-margin:first-child {
  width: 10px;
}
:root[launcher="right"] .newtab-side-margin:last-child.medium,
:root[launcher="left"] .newtab-side-margin:first-child.medium {
  width: 20px;
}
:root[launcher="right"] .newtab-side-margin:last-child.large,
:root[launcher="left"] .newtab-side-margin:first-child.large {
  width: 30px;
}
#launcher {
  display: none;
}
:root[launcher] #launcher {
  display: -moz-box;
  border-width: 0;
  border-style: solid;
  border-color: hsla(0, 0%, 0%, .03);
  -moz-box-align: center;
  -moz-box-pack: center;
  background-color: hsla(0, 0%, 0%, .03);
  text-align: center;
}
:root[launcher="top"] #launcher,
:root[launcher="bottom"] #launcher {
  -moz-box-orient: horizontal;
  width: 100%;
}
:root[launcher="right"] #launcher,
:root[launcher="left"] #launcher {
  -moz-box-orient: vertical;
  width: 90px;
}
:root[launcher="top"] #launcher {
  border-bottom-width: 1px;
  box-shadow: 0 -1px 2px hsla(0, 0%, 0%, .02) inset,
              0 1px 0 hsla(0, 0%, 100%, .25);
  -moz-box-ordinal-group: 0;
}
:root[launcher="right"] #launcher {
  border-left-width: 1px;
  box-shadow: 1px 0 2px hsla(0, 0%, 0%, .02) inset,
              -1px 0 0 hsla(0, 0%, 100%, .25);
}
:root[launcher="bottom"] #launcher {
  border-top-width: 1px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, .02) inset,
              0 -1px 0 hsla(0, 0%, 100%, .25);
}
:root[launcher="left"] #launcher {
  border-right-width: 1px;
  box-shadow: -1px 0 2px hsla(0, 0%, 0%, .02) inset,
              1px 0 0 hsla(0, 0%, 100%, .25);
  -moz-box-ordinal-group: 0;
}
.launchButton {
  display: -moz-box;
  -moz-box-orient: vertical;
  margin: 1px 1px;
  padding: 14px 6px;
  min-width: 88px;
  max-width: 176px;
  max-height: 85px;
  vertical-align: top;
  white-space: normal;
  background: transparent padding-box;
  border: 1px solid transparent;
  border-radius: 2.5px;
  color: #525c66;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
}
.launchButton:hover {
  background-color: hsla(211, 79%, 6%, .03);
  border-color: hsla(210, 54%, 20%, .15) hsla(210, 54%, 20%, .17) hsla(210, 54%, 20%, .2);
}
.launchButton:hover:active {
  background-image: linear-gradient(hsla(211, 79%, 6%, .02), hsla(211, 79%, 6%, .05));
  border-color: hsla(210, 54%, 20%, .2) hsla(210, 54%, 20%, .23) hsla(210, 54%, 20%, .25);
  box-shadow: 0 1px 1px hsla(211, 79%, 6%, .05) inset,
              0 0 1px hsla(211, 79%, 6%, .1) inset;
  transition-duration: 0ms;
}
.launchButton::before {
  display: block;
  height: 32px;
  margin-bottom: 6px;
  line-height: 0;
}
:root.background #launcher {
  border-top: 1px solid hsla(0, 0%, 100%, .3);
  background-color: hsla(0, 0%, 100%, .3);
  box-shadow: none;
}
:root.background #launcher.dark {
  background-color: hsla(0, 0%, 0%, .3)
}
:root.background .launchButton:hover {
  background-color: hsla(211, 80%, 100%, .6);
  border-color: hsla(210, 54%, 20%, .3) hsla(210, 54%, 20%, .3) hsla(210, 54%, 20%, .4);
}
:root.background #launcher.dark .launchButton {
  color: #fff;
  text-shadow: 0 0 2px #000;
}
:root.background #launcher.dark .launchButton:hover {
  background-color: hsla(0, 0%, 0%, .3);
  border-color: hsla(0, 0%, 100%, .3);
}
#downloads::before {
  content: url("chrome://browser/content/abouthome/downloads.png");
}
#bookmarks::before {
  content: url("chrome://browser/content/abouthome/bookmarks.png");
}
#history::before {
  content: url("chrome://browser/content/abouthome/history.png");
}
#addons::before {
  content: url("chrome://browser/content/abouthome/addons.png");
}
#sync::before {
  content: url("chrome://browser/content/abouthome/sync.png");
}
#settings::before {
  content: url("chrome://browser/content/abouthome/settings.png");
}
:root.background #launcher.dark #downloads::before {
  content: url("chrome://newtabtools/content/launcher/downloads.png");
}
:root.background #launcher.dark #bookmarks::before {
  content: url("chrome://newtabtools/content/launcher/bookmarks.png");
}
:root.background #launcher.dark #history::before {
  content: url("chrome://newtabtools/content/launcher/history.png");
}
:root.background #launcher.dark #addons::before {
  content: url("chrome://newtabtools/content/launcher/addons.png");
}
:root.background #launcher.dark #sync::before {
  content: url("chrome://newtabtools/content/launcher/sync.png");
}
:root.background #launcher.dark #settings::before {
  content: url("chrome://newtabtools/content/launcher/settings.png");
}
#config-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background: transparent url(chrome://mozapps/skin/extensions/utilities.png);
  z-index: 2
}
#config-toggle:-moz-locale-dir(rtl) {
  left: 12px;
  right: auto;
}
#config-wrapper {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  transition: width 500ms, visibility 0s 500ms;
}
#config-wrapper.shown {
  visibility: visible;
  width: 351px;
  transition: width 500ms;
}
#config {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 1px rgba(0, 0, 0, 0.25) solid;
  z-index: 1;
  color: #fff;
  text-shadow: 0 0 3px #000;
}
#config-inner {
  margin: 50px 6px 0;
  width: 338px;
}
#config-morePrefs {
  text-align: center;
}

#newtab-scrollbox[page-disabled] #config-wrapper,
#newtab-scrollbox[page-disabled] #config-toggle,
#newtab-scrollbox[page-disabled] #launcher,
#newtab-scrollbox[page-disabled] #newtab-recent-outer,
#newtab-scrollbox:not([page-disabled]) #newtab-toggle {
  display: none;
}
