.newtab-row {
  -moz-box-flex: 1;
}
.newtab-row:last-child {
  margin-bottom: 0;
}
.newtab-cell {
  width: auto;
  height: auto;
  -moz-box-flex: 1;
  margin: 0;
  border: 1px solid;
  border-color: rgba(8,22,37,.12) rgba(8,22,37,.14) rgba(8,22,37,.16);
  border-radius: 1px;
}
.newtab-cell:last-child {
  -moz-margin-end: 0;
}
.newtab-title {
  bottom: 0;
  padding: 0 8px;
  background-color: rgba(248,249,251,.95);
  color: #1f364c;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
}
